# ignore everything by default.
*

!.config/
.config/*

# Neovim
!.config/nvim
.config/nvim/**
!.config/nvim/**/*

# Fish
!.config/fish
.config/fish/**
!.config/fish/config.fish

# Git
!.gitconfig
!.gitignore

# Tmux
!.tmux
!.tmux.conf
!.tmux/*.yml

# Fontconfig
!.config/fontconfig
.config/fontconfig/**
!.config/fontconfig/fonts.conf

# Hyprland
!.config/hypr
.config/hypr/**
!.config/hypr/**/*

# Kitty
!.config/kitty
.config/kitty/**
!.config/kitty/kitty.conf

# Mako
!.config/mako
.config/mako/**
!.config/mako/config

# Share
!.config/share
.config/share/**
!.config/share/**/*

# WayBar
!.config/waybar
.config/waybar/**
!.config/waybar/**/*

# Wofi
!.config/wofi
.config/wofi/**
!.config/wofi/style.css
