[core]
  editor = nvim
  ignorecase = false
[user]
  name = Vladimir Eremin
  email = personal@ermnvldmr.com 
  signingkey = A823B39D0A24B37E
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[commit]
  gpgsign = true
[init]
  defaultBranch = main
[include]
  path = ~/.gitconfig.local
[credential "https://dev.azure.com"]
	useHttpPath = true